html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sanserif;
}

a {
    text-decoration: none;
}

dt {
    font-weight: bold;
    margin-top: 2ex;
    font-size: 110%;
}

dd {
    margin-top: 1ex;
}

.label {
    font-weight: bold;
    font-style: italic;
    font-size: 90%;
}

input#field-year {
    width: 4em;
}

